header {
    position: relative;
    color: white;
    text-align: center;
    z-index: -1;
}

h1 {
    position: absolute;
    margin-top: 8%;
    margin-left: 40%;
    font-size: 100px; font-weight: 300;
}

.txt {
    font-size: 35px;
    padding-top: 1%; padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 3%;
}

button, .button-2 {
    background-color: #BC0000;
    color: white;
    border-color: #FF0000;
    border-radius: 30px;
    padding: 15px 32px;
}

.our-values {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.RP {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.RP-txt {
    font-size: 20px;
    width: 60%;
    padding-left: 15%;
    text-indent: 4%;
}

h3 {
    font-size: 40px;
    padding-left: 15%;
}

.RP-pic {
    display: flex;
    margin-right: 5%;
    align-items: center;
}

.button-2 {
    margin-left: 60%;
}

.o-v-pic-2 {
    padding-left: 4%;
}

.o-v-p {
    text-indent: 4%;
    font-size: 20px;
    width: 60%;
    justify-content: flex-end;
    padding-left: 20%;
}

h2 {
    font-size: 40px;
    padding-left: 20%;
}

h4 {
    font-size: 30px;
}

.employee-cards, .employee-cards-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

h6 {
    font-size: 40px;
    padding-left: 20%;
}

.SS-txt {
    text-indent: 4%;
    font-size: 20px;
    width: 60%;
    padding-left: 20%;
}

.SS-pic {
    padding-left: 4%;
}

.E {
    display: flex;
    flex-direction: row;
}

hr {
    border-top: 1px solid #FF0000;
    border-bottom: 1px solid #FF0000;
}

@media screen (max-width: 1024px) {
   
}

@media screen (max-width: 700px) {
    
}
