main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.menu {
    border-left: 3px solid var(--main);
    width: 30%;
    padding: 0 30px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: var(--normal);
    display: flex;
    justify-content: space-between;
}

main ul {
    display: flex;
    list-style: none;
    margin: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

main ul button {
    height: 30px;
    width: 30px;
    margin: 0 10px 0 0;
}

.dropdown {
    z-index: 3;
    width: 625px;
    height: 30px;
    background-color: blue;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.dropdown:checked + h3 span img {
    content: url(/images/icons/minus-circle.svg);
}

.dropdown:checked + h3 + ul {
    display: block;
}

span img {
    transform: translateY(2.5px);
}