main {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.menu {
    border-left: 3px solid var(--main);
    width: 30%;
    padding: 0 30px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-weight: var(--normal);
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

button {
    border: none;
    border-radius: 3px;
}

main ul {
    display: none;
    list-style: none;
    margin: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

main ul button {
    height: 40px;
    width: 40px;
    margin: 0 10px 0 0;
    border: none;
    border-radius: 3px;
    transition: background-color 0.2s;
    cursor: pointer;
}

.dropdown {
    z-index: 3;
    width: 625px;
    height: 30px;
    background-color: blue;
    position: absolute;
    cursor: pointer;
    opacity: 0;
}

.dropdown:checked + h3 span img {
    content: url(/images/icons/minus-circle.svg);
}

.dropdown:checked + h3 + ul {
    display: flex;
}

span img {
    transform: translateY(2.5px);
}

.orange {
    background-color: orange;
}

.orange:hover {
    background-color: rgb(255, 119, 0);
}

.white {
    background-color: white;
}

.white:hover {
    background-color: rgb(179, 179, 179);
}

.blue {
    background-color: blue;
}

.blue:hover {
    background-color: rgb(7, 0, 198);
}

.black {
    background-color: black;
    border: 2px solid white;
}

.black:hover {
    background-color: rgb(46, 46, 46);
}